.dialog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; /* Ensure all text inside the dialog is centered */
}

.success-dialog-content {
  width: 100%;
  text-align: center; 
  font-size: 1.2em;   
}

.centered-button {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  width: 100%;
  margin-top: 20px;
}
