.trivia-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.exit-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.exit-button button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.exit-button mat-icon {
  color: #ff4081;
}
