<div *ngIf="gameInitialized" class="sort-words-container">
  <h1>Sort Words</h1>

  <!-- Add the progress bar here -->
  <app-progress-bar [current]="currentWordIndex" [total]="wordsToSort.length"></app-progress-bar>

  <div *ngIf="currentWord">
    <p>{{ currentWord }}</p>
    <p>Does this word belong to the category: {{ currentCategoryName }}?</p>
    <button mat-raised-button color="primary" (click)="checkAnswer(true)">Yes</button>
    <button mat-raised-button color="warn" (click)="checkAnswer(false)">No</button>
  </div>

  <div *ngIf="!currentWord">
    <p>Game over! You've sorted all the words.</p>
  </div>
</div>

<div *ngIf="!gameInitialized">
  <p>Loading... Please wait.</p>
</div>
