.sort-words-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5; 
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.exit-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.score-display {
  position: absolute;
  top: 10px;
  right: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff9800; 
}

.score-display mat-icon {
  margin-right: 5px;
}

.score-display span {
  font-size: 1.2rem;
}


.category-name {
  font-size: 1.5rem;
  color: #3f51b5; 
  margin-bottom: 10px;
}


.current-word {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000; 
  margin-bottom: 20px;
}


button[mat-raised-button] {
  margin: 0 5px;
}


button[mat-raised-button].mat-primary {
  background-color: #4caf50; 
  color: #fff;
}


button[mat-raised-button].mat-warn {
  background-color: #f44336; 
  color: #fff;
}


::ng-deep .mat-progress-bar-fill::after {
  background-color: #3f51b5; 
}
