.progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  height: 25px; /* Adjust the height as needed */
  position: relative; /* Position relative to allow absolute positioning inside */
  overflow: hidden;
}

.progress {
  background-color: #3f51b5; /* Change to your desired progress bar color */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 25px; /* Match this with the height of the progress bar */
  color: #000000; /* Set to black for better contrast */
  font-weight: bold;
  font-size: 14px; /* Adjust font size as needed */
  z-index: 1; /* Ensure the text stays on top */
}
