.progress-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  height: 25px; /* Adjust the height as needed */
  position: relative;
  overflow: hidden;
}

.progress {
  flex-grow: 1;
  position: relative;
  height: 100%;
}

.progress-fill {
  background-color: #3f51b5;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 25px; 
  color: #000000; 
  font-weight: bold;
  font-size: 14px; /* Adjust font size as needed */
  z-index: 1;
}

.progress-number {
  width: 50px; /* Adjust the width as needed */
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

.progress-left {
  margin-right: 5px;
}

.progress-right {
  margin-left: 5px;
}
