<div class="dashboard-container">
    <div class="card">
      <h3>Total Points</h3>
      <p>{{ totalPoints }}</p>
    </div>
  
    <div class="card">
      <h3>Total Games Played</h3>
      <p>{{ totalGames }}</p>
    </div>
  
    <div class="card">
      <h3>Highest Avg Score Game</h3>
      <p>{{ highestAvgScoreGame }}</p>
    </div>
  
    <div class="card">
      <h3>Lowest Avg Score Game</h3>
      <p>{{ lowestAvgScoreGame }}</p>
    </div>
  
    <div class="card">
      <h3>Learned Categories</h3>
      <p>{{ learnedCategoriesCount }}</p>
    </div>
  
    <div class="card">
      <h3>Unlearned Categories</h3>
      <p>{{ unlearnedCategoriesCount }}</p>
    </div>
  
    <div class="card">
      <h3>Perfect Score Games (%)</h3>
      <p>{{ perfectScorePercentage }}%</p>
    </div>
  
    <div class="card">
      <h3>Most Played Category</h3>
      <p>{{ mostPlayedCategory }}</p>
    </div>
  
    <div class="card">
      <h3>Categories Learned (%)</h3>
      <p>{{ learnedCategoriesPercentage }}%</p>
    </div>
  </div>
  