<form #categoryForm="ngForm" (ngSubmit)="saveCategory()">
  <h2>Category Details:</h2>
  <div>
    <mat-form-field>
      <mat-label>Category Name</mat-label>
      <input matInput [(ngModel)]="currentCategory.name" name="categoryName" required>
      <mat-error *ngIf="categoryForm.submitted && !categoryForm.controls['categoryName']?.valid">
        Category name is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Origin Language:</mat-label>
      <input matInput [(ngModel)]="currentCategory.origin" name="origin" readonly>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Target Language:</mat-label>
      <input matInput [(ngModel)]="currentCategory.target" name="target" readonly>
    </mat-form-field>
  </div>
  <div>
    <div class="new-word-container">
      <h2>Words</h2>
      <button 
        mat-fab
        type="button"
        color="primary"
        (click)="addWord()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="currentCategory.words.length === 0">
      A category must have at least one word.
    </div>
    <div *ngIf="currentCategory.words.length > 0" ngModelGroup="words" #wordsGroup="ngModelGroup">
      <div *ngFor="let word of currentCategory.words; let i = index" class="word-pair">
        <mat-form-field>
          <mat-label>Origin Word</mat-label>
          <input matInput 
            [(ngModel)]="word.origin" 
            name="origin-{{i}}" 
            required 
            placeholder="Enter origin word"
            pattern="^[a-zA-Z]+$"
            #originField="ngModel">
          <mat-error *ngIf="originField.invalid">
            English letters only.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Target Word</mat-label>
          <input matInput 
            [(ngModel)]="word.target" 
            name="target-{{i}}" 
            required 
            placeholder="Enter target word"
            pattern="^[\u0590-\u05fe]+$"
            #targetField="ngModel">
          <mat-error *ngIf="targetField.invalid">
            Hebrew letters only.
          </mat-error>
        </mat-form-field>

        <button mat-icon-button color="warn" (click)="deleteWord(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="currentCategory.words.length === 0 || categoryForm.invalid || categoryForm.pristine">
      Save Category
    </button>
  </div>
</form>
