:host {
  display: block;
}

.card-container {
  width: 100%; /* Ensure the container takes the full width */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center the card-view-container horizontally */
  overflow-x: auto; /* Allow horizontal scrolling if necessary */
}

.card-view-container {
  display: inline-flex; /* Use inline-flex to prevent line breaks */
}

.game-card {
  margin: 8px;
  flex: 0 0 150px; /* Set a fixed width for each game card */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  background-color: lightgray; /* Optional: Add background color for visibility */
  display: inline-block; /* Ensure game cards are inline elements */
}
