<div class="chose-game-container">
  <h1 mat-typography="display-2">Choose Your Game</h1>

  <div class="card-container">
    <div
      *ngFor="let game of allGames"
      class="game-card"
      (click)="selectGame(game)"
    >
      <app-game-card [currentGame]="game"></app-game-card>
    </div>
  </div>

  <div *ngIf="selectedGame" class="selected-game-details">
    <h2 mat-typography="headline-2">{{ selectedGame?.name }}</h2>
    <p mat-typography="body-1">{{ selectedGame?.description }}</p>
  </div>
</div>
