<div>
  <h1 mat-dialog-title>Select a Game Category</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" (selectionChange)="onCategorySelect($event.value)">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
 
    <div *ngIf="selectedCategory" class="category-info">
      <p>Last Updated: {{ selectedCategory.lastUpdateDate | date: 'medium' }}</p>
      <p>Number of Words: {{ selectedCategory.words.length }}</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="closeAndNavigate()">Go to Game</button>
  </div>
</div>
 